body{
	background-color: pink;
}
h1{
	color: brown; font-size: 90px; text-decoration: underline;
}

#first{
	font-size: 120px;
}

.small{
	font-size: 12px; color: red
}


h2{
	font-size: 22px; color: orange; 
}

span{
	font-style: italic;
}
h2 span{text-decoration: line-through;
}